/* code here */
span {
    font-size: 15px;
  }

h1 {
    font-family: 'Courgette', cursive;
    }
    
img {
    

}

.p2{
    font-family: 'Courgette', cursive;
    font-size: 20px;
                      }

.underline{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color:rgb(255, 51, 170);
}

.background{
    color:rgb(255, 51, 170);
}

.bold{
    color:black;
    font-weight: bolder;
}

.hotel{
    color:red;
    font-weight: bolder;
}